.control-button-row {
    text-align: center;
    padding: 15px 15px 15px 15px;
}

.control-button {
    min-width: 150px;
    height: 30px;
    font-family: 'Segoe UI Black', 'Arial Black', Arial;
    font-size: 1em;
    cursor: pointer;
}