.letters-board {
  width: 100%;
  border: solid, black, 1px;
  margin: auto;
}

.letters-button-row {
  text-align: center;
  padding: 15px 15px 15px 15px;
}

.letters-button {
  min-width: 225px;
  height: 45px;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  font-size: 1.5em;
  cursor: pointer;
}
