.letters-row {
  background-color: $color-sky-blue-2;

  [class^="letters-row__tile"] {
    &:not(:last-child) {
      margin-right: .55rem;
    }
  }

  &__tile {
    margin-top: 1rem;
    vertical-align: middle;
    height: 8rem;
    width: calc(100% / 10);
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0 .8rem .8rem .8rem;
    font-size: 5.5em;
    font-weight: 100;

    &-used {
      background-color: $color-dark-blue;
      font-family: 'Segoe UI Black', 'Arial Black', Arial;
      cursor: pointer;
    }

    &-empty {
      background-color: $color-sky-blue-1;
    }
  }
}
