.letters-board {
  width: 100%;
  text-align: center;
  margin: auto;

  &__buttons {
    text-align: center;
    padding: 1.5rem;

    &-select {
      &-button {
        vertical-align: top;
        display: inline-block;
        background-color: $color-blue-4;
        height: 95%;
        color: #fff;
        width: 48%;
        height: 5.5rem;
        font-family: 'Segoe UI Black', 'Arial Black', Arial;
        font-size: 3.5em;
        cursor: pointer;
        margin-left: .4rem;
        margin-right: .4rem;
        border: none;

        &:hover {
          border: solid 5px $color-grey;
          height: 5.7rem;
        }
      }
    }
  }
}
