.message-bar-outer {
  padding: 1rem;
}

.message-bar-text {
  margin: auto;
  text-align: center;
  padding: 1rem;
  display: block;
  background-color: rgba($color-dark-grey,0.45);
  width: 95%;
  border-radius: 1rem;
  color: #fff;
  font-family: "Segoe UI Light", "Calibri Light", "Arial Narrow", "Calibri";
  font-size: 3rem;
}
