.message-bar {
  color: black;
  width: 95%;
  border: solid black 1px;
  border-radius: 5px;
  font-family: "Segoe UI Light", "Calibri Light", "Arial Narrow", "Calibri";
  font-size: 1.5em;
  padding: 10px 0 10px 0;
}
