.numbers-game {
  width: 95%;
  top: 31rem;
  @include horizontalCenter;

  &-select {
    margin: 5.75rem 0 1rem 0;
    display: inline-block;
    background-color: $color-light-grey;
    padding: .75rem;


    [class^="numbers-game-select__tile"] {
      &:not(:last-child) {
        margin-right: .55rem;
      }
    }

    [class^="numbers-game-select-row"] {
      &:not(:last-child) {
        margin-bottom: .55rem;
      }
    }

    &__row {
    }

    &__tile {
      vertical-align: middle;
      height: 7.9rem;
      width: 8.4rem;
      color: #fff;
      display: inline-block;
      text-align: center;
      font-weight: 100;
      cursor: pointer;

      &-not-used {
        color: black;
        background-color: $color-blue-1;
      }

      &-unselected {
        background-image: url("../../app/Content/Images/unchosen_number.png");
        background-size: cover;
      }

      &-selected {
        background-image: url("../../app/Content/Images/unchosen_number.png");
        background-size: cover;
        opacity: 0.3333;
      }
    }
  }

  &-target {
    vertical-align: middle;
    height: 7.0rem;
    width: 14.8rem;
    background-color: $color-blue-4;
    display: inline-block;
    text-align: center;
    border: solid $color-grey 1rem;
    margin-top: 1rem;

    &__text {
      letter-spacing: .3rem;
      color: #fff;
      font-size: 5.5rem;
      font-weight: bold;
      font-family: 'Segoe UI Black', 'Arial Black', Arial;
      margin-top: -1.5rem;
    }
  }

  &-board {
    width: 80%;
    background-color: $color-blue-3;
    margin: auto;
    border: solid $color-blue-4 1rem;

    &__row {
      padding: 1rem .5rem 1rem .5rem;
      margin-bottom: 1.5rem;
    }

    [class^="numbers-game-board__tile"] {
      &:not(:last-child) {
        margin-right: .55rem;
      }
    }

    &__tile {
      margin-top: .1rem;
      vertical-align: middle;
      height: 8rem;
      width: calc(100% / 8);
      display: inline-block;
      text-align: center;
      padding: 0 .8rem .8rem .8rem;
      font-size: 5.5rem;
      font-weight: 100;
      font-family: 'Segoe UI Black', 'Arial Black', Arial;
      cursor: pointer;


      &-used {
        background-color: $color-blue-1;
        color: $color-blue-1;
      }

      &-unused {
        background-color: $color-blue-4;
        color: #fff;

        &:hover {
          border: solid 5px $color-grey;
          font-size: 5.1em;
          height: 7.9rem;
          padding: 0 .6rem .6rem .6rem;
        }
      }

      &-100 {
        padding-left: .6rem;
        padding-top: 1.2rem;
        font-size: 3.8rem;

        &:hover {
          padding-top: .8rem;
          font-size: 3.4rem;
        }
      }

      &-2-digit {
          font-size: 5.2rem;
        &:hover {
          font-size: 4.7rem;
        }
      }
    }

    &__pad {
      margin: auto;
      width: 30rem;
      height: 17rem;
      background-color: #fff;
      padding-top: 1rem;
    }

    &__equations-outer {
      text-align: center;
      padding: .4rem;
      margin: 1rem;
    }

    &__equation {
      padding: .6rem;
      cursor: pointer;
      font-size: 3rem;
      font-family: "KGPrimaryItalics";
      font-weight: 200;

      &:hover {
        color: #fff;
        background-color: $color-blue-4;
        font-weight: 400;
        border-radius: .5rem;
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(-2px);
      }
    }

    &__operators-container {
      padding: .4rem;
      margin: .4rem;
    }

    [class^="numbers-game-board__operator-outer"] {
      &:not(:last-child) {
        margin-right: 1.2rem;
      }
    }

    &__operator-outer {
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      height: 4.5rem;
      width: 4.5rem;
      background-color: $color-blue-4;
      transition: all .2s;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000,.2);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(#000,.2);
      }
    }

    &__operator-inner {
      margin-top: -.6rem;
      color: #fff;
      font-size: 3.75rem;
      font-weight: bold;
      font-family: 'Segoe UI Black', 'Arial Black', Arial;
      cursor: pointer;
    }

    &-buttons-container {
      width: 95%;
      top: 76rem;
      height: 8rem;
      padding: 1.5rem;
      @include horizontalCenter;
    }
  }
}
