.numbers-game {
    height: 40rem;
    width: 95%;
    margin: auto;

    &-select {
        padding-top: 2rem;
        height: 100%;
        width: 100%;

        &__row {
            padding: .2rem 0 .2rem 0;
        }

        &__tile {
            vertical-align: middle;
            height: 4.8rem;
            width: 4.8rem;
            color: black;
            display: inline-block;
            border: solid black 1px;
            text-align: center;
            padding: .2rem;
            font-size: 2.5rem;
            font-weight: bold;
            font-family: 'Segoe UI Black', 'Arial Black', Arial;
            cursor: pointer;

            &-not-used {
                color: black;
                background-color: $color-grey;
            }

            &-unselected {
                background-color: #fff;
            }

            &-selected {
                background-color: #000;
            }
        }
    }

    &-target {
        vertical-align: middle;
        height: 5.5rem;
        width: 10.5rem;
        background-color: white;
        color: black;
        display: inline-block;
        text-align: center;
        border: solid black 1px;
        font-size: 2.5rem;
        font-weight: bold;
        font-family: 'Segoe UI Black', 'Arial Black', Arial;
        padding: .4rem;
        margin: .4rem;
    }

    &-board {
        border: solid, black, 1px;
        margin: auto;

        &__row {
            padding: 1rem .5rem 1rem .5rem;
        }

        &__tile {
            vertical-align: middle;
            height: 6.5rem;
            width: 6.5rem;
            color: black;
            display: inline-block;
            border: solid black 1px;
            text-align: center;
            padding: .4rem;
            font-size: 2.5rem;
            font-weight: bold;
            font-family: 'Segoe UI Black', 'Arial Black', Arial;
            cursor: pointer;

            &-unused {
                background-color: white;
                color: black;
            }

            &-used {
                background-color: $color-grey;
                color: $color-grey;
            }
        }

        &__equations-outer {
            text-align: center;
            padding: .4rem;
            margin: 1rem;
        }

        &__equation {
            padding: .6rem;
            cursor: pointer;
            font-size: 1.54em;
            border: solid black 1px;
        }

        &__operators-outer {
            padding: .4rem;
            margin: .4rem;
        }

        &__operator {
            vertical-align: middle;
            height: 2.5rem;
            width: 2.5rem;
            background-color: white;
            color: black;
            display: inline-block;
            border: solid black 1px;
            text-align: center;
            padding: 2rem;
            font-size: 1.25rem;
            font-weight: bold;
            font-family: 'Segoe UI Black', 'Arial Black', Arial;
            cursor: pointer;
        }
    }
}
