*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*10px*/ }

body {
  box-sizing: border-box; }

.u-margin-top-sm {
  margin-top: .8rem !important; }

.u-margin-bottom-sm {
  margin-bottom: .8rem !important; }

.u-position-absolute {
  position: absolute !important; }

.u-z-index-0 {
  z-index: 0; }

.u-z-index-100 {
  z-index: 100; }

.control-buttons__container {
  text-align: center;
  padding: .25rem; }

.control-buttons__btn, .control-buttons__btn:link, .control-buttons__btn:visited {
  display: inline-block;
  padding: 0.8rem 2rem 0 2rem;
  height: 5rem;
  background-color: #1b3a94;
  color: #fff;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  font-size: 2.2rem;
  cursor: pointer;
  margin-left: .4rem;
  margin-right: .4rem;
  border: none;
  border-radius: 4rem;
  transition: all .2s; }

.control-buttons__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .control-buttons__btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.control-buttons__btn:active, .control-buttons__btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.game-board {
  position: fixed;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85rem;
  height: 85rem;
  border: solid #1b3a94 0.5rem;
  text-align: center;
  background-color: #4f9dce; }

.letters-board {
  width: 95%;
  text-align: center;
  top: 40rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }
  .letters-board__buttons {
    text-align: center;
    padding: 1.5rem; }
    .letters-board__buttons-select-button {
      vertical-align: top;
      display: inline-block;
      background-color: #1b3a94;
      height: 95%;
      color: #fff;
      width: 48%;
      height: 5.5rem;
      font-family: 'Segoe UI Black', 'Arial Black', Arial;
      font-size: 3.5em;
      cursor: pointer;
      margin-left: .4rem;
      margin-right: .4rem;
      border: none; }
      .letters-board__buttons-select-button:hover {
        border: solid 5px #a7a8a9;
        height: 5.7rem; }
  .letters-board-buttons-container {
    width: 95%;
    top: 58.8rem;
    height: 8rem;
    padding: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }

.letters-row {
  background-color: #4f9dce; }
  .letters-row [class^="letters-row__tile"]:not(:last-child) {
    margin-right: .55rem; }
  .letters-row__tile {
    margin-top: 1rem;
    vertical-align: middle;
    height: 8rem;
    width: calc(100% / 12);
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0 .8rem .8rem .8rem;
    font-size: 5.5em;
    font-weight: 100; }
    .letters-row__tile-used {
      background-color: #1b3a94;
      font-family: 'Segoe UI Black', 'Arial Black', Arial;
      cursor: pointer; }
      .letters-row__tile-used:hover {
        border: solid 5px #a7a8a9;
        font-size: 5.1em;
        height: 7.9rem;
        padding: 0 .6rem .6rem .6rem; }
    .letters-row__tile-empty {
      background-color: #9cc8e3; }

.message-bar {
  top: .25rem;
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

.message-bar-outer {
  padding: 1rem; }

.message-bar-text {
  margin: auto;
  text-align: center;
  padding: 1rem;
  display: block;
  background-color: rgba(34, 34, 34, 0.333);
  width: 95%;
  border-radius: 1rem;
  color: #fff;
  font-family: "Segoe UI Light", "Calibri Light", "Arial Narrow", "Calibri";
  font-size: 3rem; }

.numbers-game {
  width: 95%;
  top: 31rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }
  .numbers-game-select {
    margin: 5.75rem 0 1rem 0;
    display: inline-block;
    background-color: #cbcccd;
    padding: .75rem; }
    .numbers-game-select [class^="numbers-game-select__tile"]:not(:last-child) {
      margin-right: .55rem; }
    .numbers-game-select [class^="numbers-game-select-row"]:not(:last-child) {
      margin-bottom: .55rem; }
    .numbers-game-select__tile {
      vertical-align: middle;
      height: 7.9rem;
      width: 8.4rem;
      color: #fff;
      display: inline-block;
      text-align: center;
      font-weight: 100; }
      .numbers-game-select__tile-not-used {
        color: black;
        background-color: #9cc8e3; }
      .numbers-game-select__tile-unselected {
        background-image: url("../../app/Content/Images/unchosen_number.png");
        background-size: cover;
        cursor: pointer; }
      .numbers-game-select__tile-selected {
        background-image: url("../../app/Content/Images/unchosen_number.png");
        background-size: cover;
        opacity: 0.3333; }
  .numbers-game-target {
    vertical-align: middle;
    height: 7.0rem;
    width: 14.8rem;
    background-color: #1b3a94;
    display: inline-block;
    text-align: center;
    border: solid #a7a8a9 1rem;
    margin-top: 1rem; }
    .numbers-game-target__text {
      letter-spacing: .3rem;
      color: #fff;
      font-size: 5.5rem;
      font-weight: bold;
      font-family: 'Segoe UI Black', 'Arial Black', Arial;
      margin-top: -1.5rem; }
  .numbers-game-board {
    width: 80%;
    background-color: #386bad;
    margin: auto;
    border: solid #1b3a94 1rem; }
    .numbers-game-board__row {
      padding: 1rem .5rem 1rem .5rem;
      margin-bottom: 1.5rem; }
    .numbers-game-board [class^="numbers-game-board__tile"]:not(:last-child) {
      margin-right: .55rem; }
    .numbers-game-board__tile {
      margin-top: .1rem;
      vertical-align: middle;
      height: 8rem;
      width: calc(100% / 8);
      display: inline-block;
      text-align: center;
      padding: 0 .8rem .8rem .8rem;
      font-size: 5.5rem;
      font-weight: 100;
      font-family: 'Segoe UI Black', 'Arial Black', Arial;
      cursor: pointer; }
      .numbers-game-board__tile-used {
        background-color: #9cc8e3;
        color: #9cc8e3; }
      .numbers-game-board__tile-unused {
        background-color: #1b3a94;
        color: #fff; }
        .numbers-game-board__tile-unused:hover {
          border: solid 5px #a7a8a9;
          font-size: 5.1em;
          height: 7.9rem;
          padding: 0 .6rem .6rem .6rem; }
      .numbers-game-board__tile-100 {
        padding-left: .6rem;
        padding-top: 1.2rem;
        font-size: 3.8rem; }
        .numbers-game-board__tile-100:hover {
          padding-top: .8rem;
          font-size: 3.4rem; }
      .numbers-game-board__tile-2-digit {
        font-size: 5.2rem; }
        .numbers-game-board__tile-2-digit:hover {
          font-size: 4.7rem; }
    .numbers-game-board__pad {
      margin: auto;
      width: 35rem;
      height: 16.5rem;
      background-color: #fff;
      padding-top: 1rem; }
    .numbers-game-board__equations-container {
      text-align: center;
      padding: .2rem;
      margin: .2rem; }
    .numbers-game-board__equation {
      transition: all .2s; }
      .numbers-game-board__equation-outer {
        margin-bottom: 0rem;
        display: inline-block; }
        .numbers-game-board__equation-outer:hover {
          transform: translateY(-0.3rem); }
        .numbers-game-board__equation-outer:active, .numbers-game-board__equation-outer:focus {
          outline: none;
          transform: translateY(0.1rem); }
      .numbers-game-board__equation-active {
        color: #fff;
        background-color: #1b3a94;
        font-weight: 400;
        border-radius: 1rem; }
      .numbers-game-board__equation-inner {
        padding: .5rem 1.5rem .5rem 1.5rem;
        cursor: pointer;
        font-size: 3rem;
        font-family: "KGPrimaryItalics";
        font-weight: 100; }
        .numbers-game-board__equation-inner-shrink-to-fit {
          padding: .5rem .4rem .5rem .4rem;
          font-size: 2.5rem; }
        .numbers-game-board__equation-inner:hover {
          color: #fff;
          background-color: #1b3a94;
          font-weight: 400;
          border-radius: 1rem;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          z-index: 100; }
    .numbers-game-board__operators-container {
      padding: .4rem;
      margin: .4rem; }
    .numbers-game-board [class^="numbers-game-board__operator-outer"]:not(:last-child) {
      margin-right: 1.2rem; }
    .numbers-game-board__operator-outer {
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      height: 4.5rem;
      width: 4.5rem;
      background-color: #1b3a94;
      transition: all .2s; }
      .numbers-game-board__operator-outer:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
        .numbers-game-board__operator-outer:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0; }
      .numbers-game-board__operator-outer:active, .numbers-game-board__operator-outer:focus {
        outline: none;
        transform: translateY(0.1rem); }
    .numbers-game-board__operator-inner {
      margin-top: -.6rem;
      color: #fff;
      font-size: 3.75rem;
      font-weight: bold;
      font-family: 'Segoe UI Black', 'Arial Black', Arial;
      cursor: pointer; }
    .numbers-game-board-buttons-container {
      width: 95%;
      top: 76rem;
      height: 8rem;
      padding: 1.5rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); }

.timer {
  top: 9.5rem;
  margin-bottom: 1rem;
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); }

.clock-outer {
  z-index: 0; }

.clockface {
  position: relative;
  background: url("../app/Content/Images/clock.png");
  background-size: cover;
  height: 20rem;
  width: 20rem;
  margin: auto;
  line-height: 20rem;
  font-size: 2rem; }

.clock-hand {
  position: absolute;
  left: 9.87rem;
  bottom: 9.9rem;
  height: 9.4rem;
  width: .25rem;
  background-color: #1b3a94; }
  .clock-hand-started {
    position: absolute;
    left: 9.87rem;
    bottom: 9.9rem;
    transition: all 30s;
    transform: rotate(180deg);
    transform-origin: 50% 100%; }

@font-face {
  font-family: KGPrimaryItalics;
  src: url("../../app/Content/Fonts/KGPrimaryItalics.ttf"); }
