.control-button-row {
  text-align: center;
  padding: 15px 15px 15px 15px; }

.control-button {
  min-width: 150px;
  height: 30px;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  font-size: 1em;
  cursor: pointer; }

.game-board {
  width: 800px;
  height: 660px;
  margin: 80px 80px 80px 80px;
  padding: 20px 20px 20px 20px;
  border: solid black 1px;
  text-align: center; }

.letters-board {
  width: 100%;
  border: solid, black, 1px;
  margin: auto; }

.letters-button-row {
  text-align: center;
  padding: 15px 15px 15px 15px; }

.letters-button {
  min-width: 225px;
  height: 45px;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  font-size: 1.5em;
  cursor: pointer; }

.letters-row {
  padding: 10px 5px 10px 5px; }

.letter-tile {
  vertical-align: middle;
  height: 60px;
  width: 55px;
  background-color: white;
  color: black;
  display: inline-block;
  border: solid black 1px;
  text-align: center;
  padding: 8px 8px 8px 8px;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  cursor: pointer; }

.message-bar {
  color: black;
  width: 95%;
  border: solid black 1px;
  border-radius: 5px;
  font-family: "Segoe UI Light", "Calibri Light", "Arial Narrow", "Calibri";
  font-size: 1.5em;
  padding: 10px 0 10px 0; }

.game-board {
  width: 850px; }

.numbers-game-inner {
  height: 400px;
  width: 95%;
  margin: auto;
  border: solid black 1px; }

.numbers-select {
  padding-top: 20px;
  height: 100%;
  width: 100%; }

.numbers-board {
  border: solid, black, 1px;
  margin: auto; }

.select-numbers-row {
  padding: 2px 0 2px 0; }

.select-numbers-tile {
  vertical-align: middle;
  height: 48px;
  width: 44px;
  background-color: white;
  color: black;
  display: inline-block;
  border: solid black 1px;
  text-align: center;
  padding: 2px 2px 2px 2px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  cursor: pointer; }

.select-numbers-tile-selected {
  vertical-align: middle;
  height: 48px;
  width: 44px;
  background-color: black;
  color: black;
  display: inline-block;
  border: solid black 1px;
  text-align: center;
  padding: 2px 2px 2px 2px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  cursor: pointer; }

.select-numbers-tile-not-used {
  vertical-align: middle;
  height: 48px;
  width: 44px;
  background-color: #777;
  display: inline-block;
  border: solid black 1px;
  padding: 2px 2px 2px 2px; }

.numbers-target {
  vertical-align: middle;
  height: 55px;
  width: 105px;
  background-color: white;
  color: black;
  display: inline-block;
  text-align: center;
  border: solid black 1px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  padding: 4px 4px 4px 4px;
  margin: 4px 4px 4px 4px; }

.numbers-row {
  padding: 10px 5px 10px 5px; }

.number-tile {
  vertical-align: middle;
  height: 65px;
  width: 65px;
  background-color: white;
  color: black;
  display: inline-block;
  border: solid black 1px;
  text-align: center;
  padding: 4px 4px 4px 4px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  cursor: pointer; }

.number-tile-used {
  vertical-align: middle;
  height: 65px;
  width: 65px;
  background-color: white;
  color: white;
  display: inline-block;
  border: solid black 1px;
  text-align: center;
  padding: 4px 4px 4px 4px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial; }

.equations {
  text-align: center;
  padding: 4px 4px 4px 4px;
  margin: 10px 10px 10px 10px; }

.equation {
  padding: 6px 6px 6px 6px;
  cursor: pointer;
  font-size: 1.5em;
  border: solid black 1px; }

.operators {
  padding: 4px 4px 4px 4px;
  margin: 4px 4px 4px 4px; }

.operator {
  vertical-align: middle;
  height: 25px;
  width: 25px;
  background-color: white;
  color: black;
  display: inline-block;
  border: solid black 1px;
  text-align: center;
  padding: 2px 2px 2px 2px;
  font-size: 1.25em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  cursor: pointer; }
