*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*10px*/ }

body {
  box-sizing: border-box; }

.u-margin-top-sm {
  margin-top: .8rem !important; }

.u-margin-bottom-sm {
  margin-bottom: .8rem !important; }

.control-buttons {
  height: 100%;
  text-align: center;
  padding: 1rem; }
  .control-buttons__btn, .control-buttons__btn:link, .control-buttons__btn:visited {
    display: inline-block;
    padding: 0.7rem 2rem 0 2rem;
    height: 100%;
    background-color: #1b3a94;
    color: #fff;
    font-family: 'Segoe UI Black', 'Arial Black', Arial;
    font-size: 2.2rem;
    cursor: pointer;
    margin-left: .4rem;
    margin-right: .4rem;
    border: none;
    border-radius: 4rem; }
  .control-buttons__btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .control-buttons__btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .control-buttons__btn:active, .control-buttons__btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.game-board {
  width: 80rem;
  border: solid #1b3a94 0.5rem;
  text-align: center;
  background-color: #4f9dce; }

.letters-board {
  width: 100%;
  text-align: center;
  margin: auto; }
  .letters-board__buttons {
    height: 10rem;
    text-align: center;
    padding: 1.5rem; }
    .letters-board__buttons-select-button {
      vertical-align: top;
      display: inline-block;
      background-color: #1b3a94;
      height: 95%;
      color: #fff;
      width: 48%;
      height: 5.5rem;
      font-family: 'Segoe UI Black', 'Arial Black', Arial;
      font-size: 3.5em;
      cursor: pointer;
      margin-left: .4rem;
      margin-right: .4rem;
      border: none; }
      .letters-board__buttons-select-button:hover {
        border: solid 5px #a7a8a9;
        height: 5.7rem; }

.letters-row {
  background-color: #4f9dce; }
  .letters-row [class^="letters-row__tile"]:not(:last-child) {
    margin-right: .55rem; }
  .letters-row__tile {
    margin-top: 1rem;
    vertical-align: middle;
    height: 8rem;
    width: calc(100% / 10);
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 0 .8rem .8rem .8rem;
    font-size: 5.5em;
    font-weight: 100; }
    .letters-row__tile-used {
      background-color: #1b3a94;
      font-family: 'Segoe UI Black', 'Arial Black', Arial;
      cursor: pointer; }
      .letters-row__tile-used:hover {
        border: solid 5px #a7a8a9;
        font-size: 5.1em;
        height: 7.9rem;
        padding: 0 .6rem .6rem .6rem; }
    .letters-row__tile-empty {
      background-color: #9cc8e3; }

.message-bar-outer {
  padding: 1rem; }

.message-bar-text {
  margin: auto;
  text-align: center;
  padding: 1rem;
  display: block;
  background-color: rgba(34, 34, 34, 0.45);
  width: 95%;
  border-radius: 1rem;
  color: #fff;
  font-family: "Segoe UI Light", "Calibri Light", "Arial Narrow", "Calibri";
  font-size: 3rem; }

.game-board {
  width: 80rem; }

.numbers-game-inner {
  height: 400px;
  width: 95%;
  margin: auto;
  border: solid black 1px; }

.numbers-select {
  padding-top: 20px;
  height: 100%;
  width: 100%; }

.numbers-board {
  border: solid, black, 1px;
  margin: auto; }

.select-numbers-row {
  padding: 2px 0 2px 0; }

.select-numbers-tile {
  vertical-align: middle;
  height: 48px;
  width: 44px;
  background-color: white;
  color: black;
  display: inline-block;
  border: solid black 1px;
  text-align: center;
  padding: 2px 2px 2px 2px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  cursor: pointer; }

.select-numbers-tile-selected {
  vertical-align: middle;
  height: 48px;
  width: 44px;
  background-color: black;
  color: black;
  display: inline-block;
  border: solid black 1px;
  text-align: center;
  padding: 2px 2px 2px 2px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  cursor: pointer; }

.select-numbers-tile-not-used {
  vertical-align: middle;
  height: 48px;
  width: 44px;
  background-color: #777;
  display: inline-block;
  border: solid black 1px;
  padding: 2px 2px 2px 2px; }

.numbers-target {
  vertical-align: middle;
  height: 55px;
  width: 105px;
  background-color: white;
  color: black;
  display: inline-block;
  text-align: center;
  border: solid black 1px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  padding: 4px 4px 4px 4px;
  margin: 4px 4px 4px 4px; }

.numbers-row {
  padding: 10px 5px 10px 5px; }

.number-tile {
  vertical-align: middle;
  height: 65px;
  width: 65px;
  background-color: white;
  color: black;
  display: inline-block;
  border: solid black 1px;
  text-align: center;
  padding: 4px 4px 4px 4px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  cursor: pointer; }

.number-tile-used {
  vertical-align: middle;
  height: 65px;
  width: 65px;
  background-color: white;
  color: white;
  display: inline-block;
  border: solid black 1px;
  text-align: center;
  padding: 4px 4px 4px 4px;
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial; }

.equations {
  text-align: center;
  padding: 4px 4px 4px 4px;
  margin: 10px 10px 10px 10px; }

.equation {
  padding: 6px 6px 6px 6px;
  cursor: pointer;
  font-size: 1.5em;
  border: solid black 1px; }

.operators {
  padding: 4px 4px 4px 4px;
  margin: 4px 4px 4px 4px; }

.operator {
  vertical-align: middle;
  height: 25px;
  width: 25px;
  background-color: white;
  color: black;
  display: inline-block;
  border: solid black 1px;
  text-align: center;
  padding: 2px 2px 2px 2px;
  font-size: 1.25em;
  font-weight: bold;
  font-family: 'Segoe UI Black', 'Arial Black', Arial;
  cursor: pointer; }

.clockface {
  position: relative;
  background: url("../app/Content/Images/clock.png");
  background-size: cover;
  height: 20rem;
  width: 20rem;
  margin: auto;
  line-height: 20rem;
  font-size: 2rem; }

.clock-hand {
  position: absolute;
  left: 9.87rem;
  bottom: 9.9rem;
  height: 9.4rem;
  width: .25rem;
  background-color: #1b3a94; }
  .clock-hand-started {
    transition: all 30s;
    transform: rotate(180deg);
    transform-origin: 100% 0%; }
