<div class="game-board">
  <message-bar [gameType]="GAME_TYPE"></message-bar>
  <timer [gameType]="GAME_TYPE"></timer>
  <div class="letters-board">
    <letters-top-row (LetterClicked)="UseLetter($event)"></letters-top-row>
    <letters-bottom-row (LetterClicked)="ReplaceLetter($event)"></letters-bottom-row>
    <div class="letters-board__buttons">
      <div *ngIf="gameService.GameState.GameStage <= 2" class="letters-board__buttons-select u-margin-top-sm u-margin-bottom-sm">
        <button class="letters-board__buttons-select-button" (click)="SelectLetter(1)">VOWEL</button>
        <button class="letters-board__buttons-select-button" (click)="SelectLetter(2)">CONSONANT</button>
      </div>
      <control-buttons [gameType]="GAME_TYPE" (StartClick)="StartRound()" (SubmitClick)="Submit($event)" (ClearClick)="Clear()" (PlayAgainClick)="PlayAgain()" (SolutionClick)="ViewBestWords()" (NextRoundClick)="NextRound($event)" [ConundrumGame]="false" [FullGame]="FullGame" [SolutionButtonText]="SolutionButtonText"></control-buttons>
    </div>
  </div>
</div>
<div *ngIf="gameService.GameState.GameStage == 5 && ShowBestWords">
  <h3>Your word {{gameService.GameState.SubmittedWord}} scored {{gameService.GameState.Score}} points</h3>
  <h3>Best words:</h3>
  <div>
    {{BestWords1}}
  </div>
  <div>
    {{BestWords2}}
  </div>
  <div>
    {{BestWords3}}
  </div>
</div>
