.u-margin-top-sm {
  margin-top: .8rem !important;
}

.u-margin-bottom-sm {
  margin-bottom: .8rem !important;
}

.u-position-absolute {
  position: absolute !important;
}

.u-z-index-0 {
  z-index: 0;
}

.u-z-index-100 {
  z-index: 100;
}
