.clock-outer {
    padding: 25px 25px 25px 25px;
}

.clockface {
    background: url("app/Content/Images/clock.png");
    width: 189px;
    height: 183px;
    margin: auto;
    line-height: 183px;
    font-size: 2em;
}
